header {
  background-color: white;
  border-bottom: 1px solid #f0cfdc;
  padding: 10px 30px;
  font-family: 'Segoe UI', sans-serif;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 24px;
  height: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #2c2c38;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f558ad;
}

/* Footer */
.footer {
  background-color: #ffeaf6;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.footer h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer p {
  margin: 0.5rem 0 0 0;
  font-size: 0.9rem;
}